body{
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
}

h1{
  text-align: center;
}

.todo-wrapper{
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input{
  padding: 8px;
  border: none;
  width: 250px;
  
}

.todo-input-item input:focus{
  outline: none;
  border: 2px solid rgb(0,230,122);
}

.primarybtn{
  background-color: rgb(0,230,122);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 30px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primarybtn:hover{
  background-color: rgb(4,196,106);
}

.secondaryBtn{
  background-color: rgb(72, 72, 72);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 30px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.active {
  background-color: rgb(0,230,122);
}

.btn-area{
  margin: 15px;
}
.todo-list{
  display: flex;
  flex-direction: column;

}

.todo-list-item{
  background-color:#414040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.todo-list-item h3{
  font-size: 25px;
  color: rgb(0,230,122);
  font-weight: bold;
  margin: 0;
}

.todo-list-item p{
  font-size: 14px;
  color: rgb(162, 162, 162);
  margin-top: 8px;

}

.icon-delete{
  font-size: 30px;
  cursor: pointer;
}

.icon-delete:hover{
  color: red;
}

.icon-check{
  font-size: 30px;
  margin-left: 10px;
  color: rgb(0,230,122);
  cursor: pointer;
}

.edit_wrapper{
  background-color: #414040;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.edit_wrapper input, .edit_wrapper textarea{
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
}

.edit_wrapper .primarybtn{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 16px;
  width: fit-content;
}
